<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Draw</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'draw/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    {% block scripts %}{% endblock %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand website-logo" href="{% url 'home' %}">Sketch-It-Yourself. </a>
        <!-- Nav bar toggle and logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav bar list items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- left side -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block index_active %}{% endblock %}"><a class="nav-link" href="{% url 'draw:index' %}"><i class="fas fa-project-diagram" aria-hidden="true"></i>&nbsp; Projects <span class="sr-only">(current)</span></a></li>
                <li class="nav-item {% block project_active %}{% endblock %}"><a class="nav-link" href="{% url 'draw:project_detail' 11 %}"><i class="fas fa-images"></i>&nbsp; Drawings</a></li>
                {% block drawing_link %}{% endblock %}
                <li class="nav-item {% block new_drawing_active %}{% endblock %}" style="border-left: #1b1e21 solid 1px; padding-left: 5px; margin-left: 5px"><a class="nav-link" href="{% url 'draw:new_drawing' 11 "new" %}"><i class="fas fa-plus"></i>&nbsp; New Drawing</a></li>
            </ul>
            <!-- right side -->
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'draw:logout_user' %}"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a></li>
                {% else %}
                <li class="nav-item {% block register_active %}{% endblock %}"><a class="nav-link" href="{% url 'draw:register' %}"><i class="fas fa-user-plus"></i>&nbsp; Register</a></li>
                <li class="nav-item {% block login_active %}{% endblock %}"><a class="nav-link" href="{% url 'draw:login_user' %}"><i class="fas fa-sign-in-alt"></i>&nbsp; Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 detail-panel">
            {% block detail_panel %}
            {% endblock %}

            </div>
            <div id="list-panel" class="col-md-9 list-panel">
                {% block list_panel %}
                {% endblock %}
                <br>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid site-footer">
                <span class="sig">Sketch-It-Yourself</span>
                <p style="color: #c1c1c1; font-size: 15px; font-family: 'Times New Roman', Serif;">Completed as part of the MSc Computing Science programme at the University of Glasgow &copy; 2018</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>