{% extends 'draw/base.html' %}
{% block title %}{% if drawing %}{{ drawing }}{% else %}New Drawing{% endif %}{% endblock %}
{% block drawing_link %}
    {% if drawing %}
        <li class="nav-item active"><a class="nav-link" href="{% url 'draw:drawing_detail' 1 drawing.id  %}"><i class="fas fa-image"></i>&nbsp; {{ drawing }}</a></li>
    {% endif %}
{% endblock %}
{% block new_drawing_active %}
    {% if not drawing %}
    active
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
{% endblock %}

{% block detail_panel %}
    {% if not drawing %}<h3 style="text-align: center">New Drawing</h3>{% endif %}
    <form action="" method="post" enctype="multipart/form-data" style="padding: 10px">
    {% csrf_token %}
        <div class="form-row">
            <div class="col-auto">
                {{ form.title }}
            </div>
            <div class="col-auto">
                {{ form.project }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="col">
                {{ form.description }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="col-auto">
                <label for="">{{ form.is_pinned.label_tag }}</label>
            </div>
            <div class="col-auto">
                {{ form.is_pinned }}
            </div>
        </div><br>
        <div class="form-row">
            {{ form.json_string }}
        </div><br>
        <div class="form-row">
            <button type="button" class="btn btn-primary" onclick="saveJSON()" href="#">Save Drawing</button>&nbsp;
            <button type="button" class="btn btn-primary" onclick="loadJSON()" href="#">Load Drawing</button>&nbsp;
        </div><br>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}

{% block list_panel %}
    <button id="freeDraw" type="button" class="btn" role="button" aria-pressed="true" onclick="setDrawingMode()" title="Free Draw"><i class="fas fa-pencil-alt"></i></button>&nbsp;
    <button id="drawRect" type="button" class="btn" onclick="addRectangle()" title="Rectangle"><i class="far fa-square"></i></button>&nbsp;
    <button id ="drawCirc" type="button" class="btn" onclick="addCircle()" title="Free Draw"><i class="far fa-circle"></i></button>
    <br><br>
    <canvas id="c" width="800" height="700" style="border: 1px solid black"></canvas>
    <script>
        //  TODO: Strongly consider putting all of this into its own js file.

        //  initialise canvas and variables for drawing shapes
        var canvas = new fabric.Canvas('c',{backgroundColor : '#f8f9fa', selection: false});
        var drawingRect = false;
        var drawingCircle = false;
        var rect, circ, isDown, origX, origY;
        var drawing_serial;
        var grid = 20;
        loadJSON();
        renderGrid();
        canvas.renderAll();

        function saveJSON(){
            drawing_serial = JSON.stringify(canvas);

            document.getElementById('id_json_string').value= drawing_serial;
        }

        function loadJSON(){

            canvas.loadFromJSON({{ drawing.json_string | safe }});
            renderGrid();
        }

        //  create grid
        function renderGrid(){
            console.log("Rendering grid");
            for (var i = 0; i < (800 / grid); i++) {
                var lineH = new fabric.Line([ i * grid, 0, i * grid, 800], { stroke: '#ccc', selectable: false, evented: false, excludeFromExport: true });
                var lineV = new fabric.Line([ 0, i * grid, 800, i * grid], { stroke: '#ccc', selectable: false, evented: false, excludeFromExport: true });
                canvas.add(lineH);
                canvas.add(lineV);
                canvas.sendToBack(lineH);
                canvas.sendToBack(lineV);
            }
        }

        function addRectangle(){
            drawingRect = !drawingRect;
            drawingCircle = false;

            if (drawingRect){
                document.getElementById("drawRect").className += " btn-dark";
            }
            else{
                document.getElementById("drawRect").className = "btn";
            }
        }

        function addCircle(){
            drawingCircle = !drawingCircle;
            drawingRect = false;

            if (drawingCircle){
                document.getElementById("drawCirc").className += " btn-dark";
            }
            else{
                document.getElementById("drawCirc").className = "btn";
            }
        }

        function setDrawingMode() {
            canvas.isDrawingMode = !canvas.isDrawingMode;

            if (canvas.isDrawingMode){
                document.getElementById("freeDraw").className += " btn-dark";
            }
            else{
                document.getElementById("freeDraw").className = "btn";
            }
        }

        //  what to do when mouse button is down
        canvas.on('mouse:down', function(o){
            isDown = true;
            var pointer = canvas.getPointer(o.e);
            origX = pointer.x;
            origY = pointer.y;

            if (drawingRect){
                rect = new fabric.Rect({
                left: origX,
                top: origY,
                originX: 'left',
                originY: 'top',
                width: pointer.x-origX,
                height: pointer.y-origY,
                angle: 0,
                fill: 'rgba(0,0,0,0)',
                stroke: 'black'
                });
                canvas.add(rect);
            }
            if (drawingCircle){
                circ = new fabric.Circle({
                    left: origX,
                    top: origY,
                    originX: 'left',
                    originY: 'top',
                    radius: (pointer.x-origX)/2,
                    fill: 'rgba(0,0,0,0)',
                    stroke: 'black'
                });
                canvas.add(circ);
            }
        });

        //  what to do when the mouse moves, will not do anything if mouse is not down
        canvas.on('mouse:move', function(o){
            if (!isDown) return;
            var pointer = canvas.getPointer(o.e);
            if (drawingRect){
                if(origX>pointer.x){
                rect.set({ left: Math.abs(pointer.x) });
                }
                if(origY>pointer.y){
                    rect.set({ top: Math.abs(pointer.y) });
                }

                rect.set({ width: Math.abs(origX - pointer.x) });
                rect.set({ height: Math.abs(origY - pointer.y) });


                canvas.renderAll();
            }
            if (drawingCircle){
                if(origX>pointer.x){
                circ.set({ left: Math.abs(pointer.x) });
                }
                if(origY>pointer.y){
                    circ.set({ top: Math.abs(pointer.y) });
                }

                circ.set({ radius: Math.abs((origX - pointer.x)/2) });


                canvas.renderAll();
            }

        });

        //  what do when mouse button is lifted
        canvas.on('mouse:up', function(o){
            isDown = false;
            if(drawingRect)
                rect.setCoords();
            else if (drawingCircle)
                circ.setCoords();
        });



    </script>
{% endblock %}