{% extends 'draw/base.html' %}
{% block title %}{% if drawing %}{{ drawing }}{% else %}New Drawing{% endif %}{% endblock %}
{% block drawing_link %}
    {% if drawing %}
        <!--suppress ALL -->
        <li class="nav-item active"><a class="nav-link" href="{% url 'draw:drawing_detail' 1 drawing.id  %}"><i class="fas fa-image"></i>&nbsp; {{ drawing }}</a></li>
    {% endif %}
{% endblock %}
{% block new_drawing_active %}
    {% if not drawing %}
    active
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
{% endblock %}

{% block detail_panel %}
    {% if not drawing %}<h3 style="text-align: center">New Drawing</h3>{% endif %}
    <form action="" method="post" enctype="multipart/form-data" style="padding: 10px">
    {% csrf_token %}
        <div class="form-row">
            <div class="col-auto">
                {{ form.title }}
            </div>
            <div class="col-auto">
                {{ form.project }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="col">
                {{ form.description }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="col-auto">
                <label for="">{{ form.is_pinned.label_tag }}</label>
            </div>
            <div class="col-auto">
                {{ form.is_pinned }}
            </div>
        </div><br>
        <div class="form-row">
            {{ form.json_string }}
        </div><br>
        <div class="form-row">
            {{ form.scale }}
        </div><br>
        <div class="form-row">
            <button type="button" class="btn btn-primary" onclick="saveJSON()" href="#">Save Drawing</button>&nbsp;
            <button type="button" class="btn btn-primary" onclick="loadJSON()" href="#">Load Drawing</button>&nbsp;
        </div><br>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if drawing %}
    <div class="col-auto">
    <form action="{% url 'draw:delete_drawing' drawing.project.id drawing.id 'delete' %}" method="post" class="form-group form-row">
        {% csrf_token %}
        <input type="hidden" name="drawing_id" value="{{ drawing.id }}">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
    </form>
    </div>
    {% endif %}
{% endblock %}

{% block list_panel %}
    <div class="row">
        <div class="col-4">
            <button id ="canvasInteract" type="button" class="btn btn-light" onclick="setInteractMode()" title="Move objects"><i class="fas fa-arrows-alt"></i></button>&nbsp;
            <button id ="duplicateObject" type="button" class="btn btn-light" onclick="duplicate()" title="Duplicate selected object"><i class="far fa-clone"></i></button>&nbsp;
            <button id="freeDraw" type="button" class="btn btn-light" role="button" aria-pressed="true" onclick="setDrawingMode()" title="Free Draw"><i class="fas fa-pencil-alt"></i></button>&nbsp;
            <button id="drawLine" type="button" class="btn btn-light" onclick="addLine()" title="Line"><strong>⟍</strong></button>&nbsp;
            <button id="drawMeasure" type="button" class="btn btn-light" onclick="addMeasure()" title="Line"><i class="fas fa-tape"></i></button>&nbsp;
            <button id="drawRect" type="button" class="btn btn-light" onclick="addRectangle()" title="Rectangle"><i class="far fa-square"></i></button>&nbsp;
            <button id ="drawCirc" type="button" class="btn btn-light" onclick="addCircle()" title="Circle" style="margin-top: 10px"><i class="far fa-circle"></i></button>&nbsp;
            <!--<button id ="undo" type="button" class="btn btn-light " onclick="undo()" title="Undo" style="margin-top: 10px"><i class="fas fa-undo"></i></button>&nbsp;-->
            <!--<button id ="redo" type="button" class="btn btn-light " onclick="redo()" title="Redo" style="margin-top: 10px"><i class="fas fa-redo"></i></button>&nbsp;-->
            <button id ="skewXMore" type="button" class="btn btn-light" onclick="skewXMore()" title="Skew Rectangle" style="margin-top: 10px">Skew <i class="fas fa-plus"></i></button>
            <button id ="skewXLess" type="button" class="btn btn-light" onclick="skewXLess()" title="Skew Rectangle" style="margin-top: 10px">Skew <i class="fas fa-minus"></i></button><br>
            <button id ="deleteSelected" type="button" class="btn btn-light" onclick="deleteSelected()" title="Erase selected object" style="margin-top: 10px"><i class="fas fa-eraser"></i></button>&nbsp;
            <button id ="clearCanvas" type="button" class="btn btn-danger" onclick="clearCanvas()" title="Clear canvas" style="margin-top: 10px"><i class="fas fa-trash-alt"></i></button>

        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Scale (grid unit size)</span>
                </div>
                <input id="scaleInput" type="text" class="form-control" onblur="updateScale()" placeholder="0.25" value="{% if drawing %}{{ drawing.scale }}{% else %}5{% endif %}">&nbsp;

            </div>
        <button id="setScaling" type="button" class="btn btn-dark" onclick="setScalingMode()">Manual Scale Adjust &nbsp;<i class="fas fa-i-cursor"></i></button>&nbsp;
        <button id ="zoomIn" type="button" class="btn btn-light" onclick="zoomIn()" title="Zoom in" style="margin-top: 10px; margin-bottom: 10px"><i class="fas fa-search-plus"></i></button>&nbsp;
        <button id ="zoomOut" type="button" class="btn btn-light" onclick="zoomOut()" title="Zoom out" style="margin-top: 10px; margin-bottom: 10px"><i class="fas fa-search-minus"></i></button>&nbsp;
        <button id ="fontIncreaseX" type="button" class="btn btn-light" onclick="fontIncreaseX()" title="Increase font size"><i class="fas fa-arrows-alt-h"></i> &nbsp;<i class="fas fa-plus"></i></button>&nbsp;
        <button id ="fontDecreaseX" type="button" class="btn btn-light" onclick="fontDecreaseX()" title="Decrease font size"><i class="fas fa-arrows-alt-h"></i> &nbsp;<i class="fas fa-minus"></i></button>&nbsp;
        <button id ="fontDecreaseY" type="button" class="btn btn-light" onclick="fontIncreaseY()" title="Decrease font size"><i class="fas fa-arrows-alt-v"></i> &nbsp;<i class="fas fa-plus"></i></button>&nbsp;
        <button id ="fontDecreaseY" type="button" class="btn btn-light" onclick="fontDecreaseY()" title="Decrease font size"><i class="fas fa-arrows-alt-v"></i> &nbsp;<i class="fas fa-minus"></i></button>&nbsp;
        </div>
        <div class="col-2">
            <button id ="hideDimX" type="button" class="btn btn-light" onclick="hideDimX()" title="Show or Hide selected shape's X dimension">Show/Hide <i class="fas fa-arrows-alt-h"></i></button>&nbsp;
            <button id ="hideDimY" type="button" class="btn btn-light" onclick="hideDimY()" title="Show or Hide selected shape's Y dimension" style="margin-top: 10px">Show/Hide <i class="fas fa-arrows-alt-v"></i></button>&nbsp;
            <button id ="restFont" type="button" class="btn btn-light" onclick="resetFont()" title="Rest font size" style="margin-top: 10px"> Font <i class="fas fa-undo"></i></i></button>&nbsp;
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Position</span>
                </div>
                <input id="posVal" type="text" class="form-control" placeholder="0" value="0">&nbsp;

            </div>
            <button id ="posUp" type="button" class="btn btn-light" onclick="posUp()" title="Raise selected object's position" style="margin-top: 10px"><i class="fas fa-arrow-up"></i></button>&nbsp;
            <button id ="posDown" type="button" class="btn btn-light" onclick="posDown()" title="Lower selected object's position" style="margin-top: 10px"><i class="fas fa-arrow-down"></i></button>&nbsp;
            <button id ="imageExport" type="button" class="btn btn-light" onclick="convertToImage()" title="Convert canvas to image" style="margin-top: 10px">Export as PNG</button>&nbsp;

        </div>
    </div>
        <canvas id="c" width="800" height="700" style="border: 1px solid black; margin-top: 5px"></canvas>
    <script>
        //  override library's controls appearance
        fabric.Object.prototype.set({
            borderColor: 'green',
            cornerSize: 16,
            cornerColor: 'blue'});

        //  override how fabric renders stroke, from https://stackoverflow.com/a/48343346
        fabric.Object.prototype._renderStroke = function (ctx) {
            if (!this.stroke || this.strokeWidth === 0) {
                return;
            }
            if (this.shadow && !this.shadow.affectStroke) {
                this._removeShadow(ctx);
            }
            ctx.save();
            // if (this.strokeUniform)
            ctx.scale(1 / this.scaleX, 1 / this.scaleY);
            this._setLineDash(ctx, this.strokeDashArray, this._renderDashedStroke);
            this._applyPatternGradientTransform(ctx, this.stroke);
            ctx.stroke();
            ctx.restore();
        };

        // const _getTransformedDimensions = fabric.Object.prototype._getTransformedDimensions;
        fabric.Object.prototype._getTransformedDimensions = function (skewX, skewY) {
            // if (!this.strokeUniform)
            //     return _getTransformedDimensions.call(this, e, t);
            if (typeof skewX === 'undefined') {
                skewX = this.skewX;
            }
            if (typeof skewY === 'undefined') {
                skewY = this.skewY;
            }
            const dimX = this.width / 2,
                dimY = this.height / 2;

            let points = [{
                x: -dimX,
                y: -dimY
            }, {
                x: dimX,
                y: -dimY
            }, {
                x: -dimX,
                y: dimY
            }, {
                x: dimX,
                y: dimY
            }];
            const transformMatrix = this._calcDimensionsTransformMatrix(skewX, skewY, false);
            for (let i = 0; i < points.length; i++) {
                points[i] = fabric.util.transformPoint(points[i], transformMatrix);
            }
            const bbox = fabric.util.makeBoundingBoxFromPoints(points);
            return {
                y: bbox.height + this.strokeWidth,
                x: bbox.width + this.strokeWidth,
            };
        };


        //  modify Textbox slightly to exit editing when the Enter key is pressed
        fabric.Textbox.prototype.onKeyDown = (function(onKeyDown) {
            return function(e) {
            if (e.keyCode == 13)
                canvas.getActiveObject().exitEditing();
            onKeyDown.call(this, e);
          }
        })(fabric.Textbox.prototype.onKeyDown)

        //  initialise canvas and set initial values for variables
        var canvas = new fabric.Canvas('c',{ backgroundColor : '#f8f9fa', hoverCursor: 'pointer'});

        var drawingRect = false;
        var drawingCircle = false;

        var drawingLine = false;
        var arr = new Array();
		var startx = new Array();
		var endx = new Array();
		var starty = new Array();
		var endy = new Array();
		var temp = 0;
		var graphtype;
        var text;
        var canvasInteractive = true;
        var scalingMode = true;
        var rect, circ, dimXLeft, dimX, dimXRight, dimYTop, dimY, dimYBottom, isDown, origX, origY;
        //var arrowWidth = 34.2;
        var grid = 20;
        {% if drawing %}
            var scale = {{ drawing.scale }} / 20;
        {% else %}
            var scale = 0.25;
        {% endif %}
        loadJSON();
        renderGrid();
        setInteractive();
        canvas.renderAll();

        function convertToImage() {
            download(canvas.toDataURL('png'), 'sketch', 'image/png');
        }

        //  Saves drawing
        function saveJSON(){
            //  Need to pass our custom 'id' property to ensure it's loaded
            var drawing_serial = JSON.stringify(canvas.toJSON(['id', 'category', 'arrow', 'hidden', 'positionOffset', 'lineLen', 'LineAng', 'hasControls']));
            document.getElementById('id_scale').value = scale*20;
            document.getElementById('id_json_string').value= drawing_serial;
        }

        //  Loads drawing
        function loadJSON(){

            canvas.loadFromJSON({{ drawing.json_string | safe }});
            renderGrid();
            //  iterate through shape objects, performing scaleDimensions() on them to ensure dimensions are to scale
            canvas.forEachObject(function (object) {
                if (object.category === 'shape'){
                    object.setControlsVisibility({ mtr: false });
                    canvas.setActiveObject(object);
                    scaleDimensions();
                }
            });
        }
        function posUp(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category !== 'shape');


            canvas.getActiveObject().bringForward();
            dims.forEach( o => {
                o.bringToFront();
            });
            //console.log(canvas.getObjects().indexOf(canvas.getActiveObject()));
            document.getElementById('posVal').value = canvas.getObjects().indexOf(canvas.getActiveObject());
        }

        function posDown(){
            canvas.getActiveObject().sendBackwards();
            //console.log(canvas.getObjects().indexOf(canvas.getActiveObject()));
            document.getElementById('posVal').value = canvas.getObjects().indexOf(canvas.getActiveObject());
        }

        function fontIncreaseX(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'dimX' | o.category === 'dimCirc' | o.category === 'dimLine');

            dims.forEach( o => {
               o.set({ fontSize: o.fontSize + 1 });
            });
            scaleDimensions();
        }

        function fontDecreaseX(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'dimX' | o.category === 'dimCirc' | o.category === 'dimLine');

            dims.forEach( o => {
               o.set({ fontSize: o.fontSize - 1 });
            });
            scaleDimensions();
        }

        function fontIncreaseY(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'dimY');

            dims.forEach( o => {
               o.set({ fontSize: o.fontSize + 1 });
            });
            scaleDimensions();
        }

        function fontDecreaseY(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'dimY');

            dims.forEach( o => {
               o.set({ fontSize: o.fontSize - 1 });
            });
            scaleDimensions();
        }

        function resetFont(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category !== 'shape');
            dims.forEach( o => {
               o.set({ fontSize: 29 });
            });
            scaleDimensions();
        }

        // copy+paste code from Fabric.js documentation: http://fabricjs.com/copypaste
        function duplicate(){
            var hopefullyUniqueId = Math.random().toString(16).slice(2);

            // copy selected object to 'clipboard'
            canvas.getActiveObject().clone(function(cloned) {
                _clipboard = cloned;
            });

            //
            var dimXes = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'dimX' | o.category === 'dimCirc' | o.category === 'dimLine');
            var dimYes = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'dimY');


            // clone again, so you can do multiple copies.
            _clipboard.clone(function(clonedObj) {
                canvas.discardActiveObject();
                clonedObj.set({
                    left: clonedObj.left + 10,
                    top: clonedObj.top + 10,
                    evented: true,
                    category: 'shape',
                    id: hopefullyUniqueId,
                });

                if (dimXes[0] != undefined && dimXes[0].category !== 'dimLine')
                    var dimXLeft = new fabric.Text('⟵', { arrow: 'left', id: clonedObj.id, category: dimXes[0].category, top: dimXes[0].top + 10, hidden: dimXes[0].hidden });
                if (dimXes[0] != undefined)
                    var dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: clonedObj.id, category: dimXes[0].category, top: dimXes[0].top + 10, hidden: dimXes[0].hidden });
                if (dimXes[0] != undefined && dimXes[0].category !== 'dimLine')
                    var dimXRight = new fabric.Text('⟶', { id: clonedObj.id, arrow: 'right', category: dimXes[0].category, left: clonedObj.left+100, top: dimXes[0].top + 10, hidden: dimXes[0].hidden });

                if (dimYes[0] != undefined){
                    console.log("This a rectangle");
                    var dimYTop = new fabric.Text('⟶', { angle: 270, id: clonedObj.id, arrow: 'left', category: 'dimY', left: dimYes[0].left + 10, hidden: dimYes[0].hidden });
                    var dimY = new fabric.Textbox(' ' + Math.round(clonedObj.getHeight()*scale) + ' ', { angle: 270, textAlign: 'center', id: clonedObj.id, category: 'dimY', left: dimYes[0].left + 10, hidden: dimYes[0].hidden });
                    var dimYBottom = new fabric.Text('⟵', { angle: 270, id: clonedObj.id, arrow: 'right', category: 'dimY', left: dimYes[0].left + 10, hidden: dimYes[0].hidden });
                }

                if (clonedObj.type === 'activeSelection') {
                    // active selection needs a reference to the canvas.
                    clonedObj.canvas = canvas;
                    clonedObj.forEachObject(function(obj) {
                        canvas.add(obj);
                    });
                    // this should solve the unselectability
                    clonedObj.setCoords();
                } else {
                    canvas.add(clonedObj);

                    if (dimXes[0] != undefined && dimXes[0].category !== 'dimLine')
                        canvas.add(dimXLeft);
                    canvas.add(dimX);
                    if (dimXes[0] != undefined && dimXes[0].category !== 'dimLine')
                        canvas.add(dimXRight);

                    if (dimYes[0] != undefined){
                        canvas.add(dimYTop, dimY, dimYBottom);
                    }
                }
                _clipboard.top += 10;
                _clipboard.left += 10;
                canvas.setActiveObject(clonedObj);
                scaleDimensions();
                if (dimXes[0] != undefined && dimXes[0].hidden){
                    hideDimX();
                    hideDimX();
                }
                if (dimYes[0] != undefined && dimYes[0].hidden){
                    hideDimY();
                    hideDimY();
                }
                canvas.renderAll();
            });
        }

        function addMeasure(){
            var line =  canvas.getActiveObject();
            if(canvas.getActiveObject().isType('line')){
                if ( canvas.getActiveObject().stroke === 'gray'){
                    var oldDim = canvas.getObjects().filter(o => o.category === 'dimLine' && o.id === line.id);
                    canvas.getActiveObject().set({ strokeDashArray: 0, stroke: 'black' });
                    canvas.remove(oldDim[0]);
                    dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: line.id, category: 'dimLine', hidden: false });
                    canvas.add(dimX);
                    scaleDimensions();

                }
                else{
                    canvas.getActiveObject().set({ strokeDashArray: [5, 5], stroke: 'gray' });

                    var oldDim = canvas.getObjects().filter(o => o.category === 'dimLine' && o.id === line.id);
                    canvas.remove(oldDim[0]);

                    dimXLeft = new fabric.Text('⟵', { id: line.id, arrow: 'left', category: 'dimLine', arrow: 'left', hidden: false, hasControls: false, fontSize: 29 });
                    dimX = new fabric.Textbox(' ' + Math.round(line.lineLen*scale) + ' ', { textAlign: 'center', id: line.id, category: 'dimLine', hidden: false, top: 10, width: line.lineLen - dimXLeft.width*2, left: dimXLeft.width*1.3, hasControls: false, fontSize: 29 });
                    dimXRight = new fabric.Text('⟶', { id: line.id, category: 'dimLine', arrow: 'right', hidden: false, left: line.lineLen - dimXLeft.width*1.3, hasControls: false, fontSize: 29 });

                    var dimLine = new fabric.Group([dimXLeft, dimX, dimXRight], { left: line.left, top: line.top + 30, angle: line.lineAng, originX: 'center', id: line.id, category: 'dimLine', height: 10, hasControls: false });
                    console.log("Line angle: " + line.lineAng);


                    if (line.lineAng > 90 || line.lineAng < -90){

                        dimX.toggle('flipX');
                        dimX.toggle('flipY')
                        console.log("Flipped " + dimX.getFlipX());
                    }

                    //dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: line.id, category: 'dimLine', hidden: false });
                    canvas.add(dimLine);
                }
            }
        }

        //  create grid - must account for zooming out.
        function renderGrid(){
            console.log("Rendering grid..");
            for (var i = 0; i < (1500 / grid); i++) {
                var lineH = new fabric.Line([ i * grid, 0, i * grid, 1500], { stroke: '#ccc', selectable: false, evented: false, excludeFromExport: true, id: 'grid' });
                var lineV = new fabric.Line([ 0, i * grid, 1500, i * grid], { stroke: '#ccc', selectable: false, evented: false, excludeFromExport: true, id: 'grid' });
                canvas.add(lineH);
                canvas.add(lineV);
                canvas.sendToBack(lineH);
                canvas.sendToBack(lineV);
            }
            canvas.renderAll();
        }

        function setScalingMode(){
            if (scalingMode){
                scalingMode = false;
                document.getElementById("setScaling").className = "btn btn-light";
            }
            else{
                scalingMode = true;
                document.getElementById("setScaling").className += " btn-dark";
            }
        }

        function skewXMore(){
            canvas.getActiveObject().set({ skewX: canvas.getActiveObject().skewX + 5 });
            canvas.renderAll();
        }
        function skewXLess(){
            canvas.getActiveObject().set({ skewX: canvas.getActiveObject().skewX - 5 });
            canvas.renderAll();
        }

        var zoomLevel = 0;

        function zoomIn(){
            zoomLevel -= 1;
            console.log("zoom level: " + zoomLevel);
            canvas.setZoom(canvas.getZoom() * 1.1);
            //var dims = canvas.getObjects().filter(o => o.category !== 'shape' && o.id !== 'grid');

            //scale = scale/1.09;
            //zoom();
            canvas.renderAll();
        }

        function zoomOut(){
            console.log("zoom level: " + zoomLevel);

            // limit has been set on zoom-out, zooming out past this point has a severe impact on performance
            if(zoomLevel < 4){
                zoomLevel += 1;
                canvas.setZoom(canvas.getZoom() / 1.1);
            }
            canvas.renderAll();

            //scale = scale*1.09;
            //zoom();
        }

        function setInteractMode(){
            disableDrawing();
            disableRect();
            disableCircle();
            disableLine();

            setInteractive();
        }

        function setInteractive(){
            if (canvasInteractive){
                canvas.forEachObject(function(object){
                    object.selectable = false
                });
                canvasInteractive = false;
                document.getElementById("canvasInteract").className = "btn btn-light"
            }
            else{
                canvas.forEachObject(function(object){
                    if (object.id != 'grid' && object.hidden != true){
                        object.selectable = true
                    }

                });
                canvasInteractive = true;
                document.getElementById("canvasInteract").className += " btn-dark";
            }
        }

        function setDrawingMode() {
            canvas.isDrawingMode = true;
            disableInteract();
            disableRect();
            disableCircle();
            disableLine();

            document.getElementById("freeDraw").className += " btn-dark";
        }

        function deleteSelected(){
            var activeObject = canvas.getActiveObject(),
                activeGroup = canvas.getActiveGroup();

            if (activeObject){
                var dims = canvas.getObjects().filter(o => o.id === activeObject.id);

                dims.forEach(o => {
                    canvas.remove(o);
                });

                canvas.remove(activeObject);
            }
            else if (activeGroup){
                var groupObjects = activeGroup.getObjects();
                canvas.discardActiveGroup();
                groupObjects.forEach(function (object) {
                    var dims = canvas.getObjects().filter(o => o.id === object.id);
                    dims.forEach(o => {
                        canvas.remove(o);
                    });
                    canvas.remove(object);
                });
            }
            canvas.renderAll();
        }

        function addRectangle(){
            drawingRect = true;
            disableInteract();
            disableDrawing();
            disableCircle();
            disableLine();

            document.getElementById("drawRect").className += " btn-dark";
        }

        function addCircle(){
            drawingCircle = true;
            disableInteract();
            disableDrawing();
            disableRect();
            disableLine();

            document.getElementById("drawCirc").className += " btn-dark";
        }

        function addLine(){
            drawingLine = true;
            disableInteract();
            disableDrawing();
            disableRect();
            disableCircle();

            document.getElementById("drawLine").className += " btn-dark";
        }

        function updateScale(){
            /*
                At 0.25 each square is 5

             */

            var shapes = canvas.getObjects().filter(o => o.category === 'shape');
            scale = document.getElementById('scaleInput').value/20;
            console.log("Scale is: " + scale);

            document.getElementById("scaleInput").value = scale*20;
                shapes.forEach( o => {
                    canvas.setActiveObject(o);
                    scaleDimensions();
            });
        }

        function clearCanvas(){
            if (window.confirm("Are you sure you would like to clear the canvas?")){
                canvas.clear();
                canvas.setBackgroundColor('#f8f9fa');
                renderGrid();
            }

        }

        //  toggle off methods
        function disableInteract(){
            canvasInteractive = true;
            setInteractive();
        }
        function disableDrawing(){
            canvas.isDrawingMode = false;
            document.getElementById("freeDraw").className = "btn btn-light";
        }
        function disableRect(){
            drawingRect = false;
            document.getElementById("drawRect").className = "btn btn-light";
        }
        function disableCircle(){
            drawingCircle = false;
            document.getElementById("drawCirc").className = "btn btn-light";
        }
        function disableLine(){
            drawingLine = false;
            document.getElementById("drawLine").className = "btn btn-light";
        }

        function hideDimX(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'dimX' | o.category === 'dimCirc' | o.category === 'dimLine');

            dims.forEach(o => {
                if (o.hidden){
                    o.set({ opacity: 100, selectable: true, hidden: false });
                }
                else{
                    o.set({ opacity: 0, selectable: false, hidden: true });
                }
            });
            //canvas.renderAll();
            scaleDimensions();
        }

        function hideDimY(){
            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category == 'dimY');

            dims.forEach(o => {
                if (o.hidden){
                    o.set({ opacity: 100, selectable: true, hidden: false });
                }
                else{
                    o.set({ opacity: 0, selectable: false, hidden: true });
                }
            });
            //canvas.renderAll();
            scaleDimensions();
        }

        function transformDrawing(assocShape, i){

            if (canvas.getActiveObject().category == 'dimX'){
                var widthDif = canvas.getActiveObject().text - assocShape[i].getWidth()*scale;
                assocShape[i].setWidth(assocShape[i].width + ((widthDif/scale) / assocShape[i].scaleX));
            }
            if (canvas.getActiveObject().category == 'dimY'){
                var heightDif = canvas.getActiveObject().text - assocShape[i].getHeight()*scale;
                assocShape[i].setHeight(assocShape[i].height + (heightDif/scale) / assocShape[i].scaleY);
            }
            if (canvas.getActiveObject().category == 'dimCirc'){
                var radDif = canvas.getActiveObject().text/2 - assocShape[i].getRadiusX()*scale;
                assocShape[i].setRadius(assocShape[i].radius + (radDif/scale) / assocShape[i].scaleX);
            }
            if (canvas.getActiveObject().category == 'dimLine'){
                var desiredLen = canvas.getActiveObject().text;

                while(Math.round(assocShape[i].lineLen*scale) != desiredLen){
                    var lenMultiplyer = desiredLen / (assocShape[i].lineLen*scale);
                    assocShape[i].setWidth((assocShape[i].width*lenMultiplyer) / assocShape[i].scaleX);
                    assocShape[i].setHeight((assocShape[i].height*lenMultiplyer) / assocShape[i].scaleY);

                    assocShape[i].set({ lineLen: Math.sqrt(Math.pow(assocShape[i].getHeight(), 2) + Math.pow(assocShape[0].getWidth(), 2)) });
                }
            }
            canvas.setActiveObject(assocShape[i]);

        }

        // code from documentation: http://fabricjs.com/using-transformations
        var multiply = fabric.util.multiplyTransformMatrices;
        var invert = fabric.util.invertTransform;
        function updateDimensions() {

            if (canvas.getActiveObject().isType('text') || canvas.getActiveObject().category === 'dimLine'){
                // code to move the selected dim's counterparts, so that they all move instead of just single arrow
                var assocDims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === canvas.getActiveObject().category);

                assocDims.forEach(o => {
                    if (!o.relationship) {
                        return;
                    }
                    var relationship = o.relationship;
                    var newTransform = multiply(canvas.getActiveObject().calcTransformMatrix(), relationship);
                    opt = fabric.util.qrDecompose(newTransform);
                    o.set({
                    flipX: false,
                    flipY: false,
                    });
                    o.setPositionByOrigin(
                    { x: opt.translateX, y: opt.translateY },
                    'center',
                    'center'
                    );

                    o.set(opt);
                    o.setCoords();
                });

                return;
            }

            var dims = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && !canvas.getActiveObject().isType('path'));

            dims.forEach(o => {
                if (!o.relationship) {
                    return;
                }
                var relationship = o.relationship;
                var newTransform = multiply(canvas.getActiveObject().calcTransformMatrix(), relationship);
                opt = fabric.util.qrDecompose(newTransform);
                o.set({
                flipX: false,
                flipY: false,
                });
                o.setPositionByOrigin(
                { x: opt.translateX, y: opt.translateY },
                'center',
                'center'
                );

                o.set(opt);
                o.setCoords();
            });
        }


        function scaleDimensions(){
            var dims = canvas.getObjects().filter(o => o.id == canvas.getActiveObject().id);
            var valWidth, valHeight, valCirc;
            var optFontSize;
            var xArrowWidth;
            var yArrowWidth;
            var textboxHeight;
            var arrowHeight;

            dims.forEach(o => {

                if (o.category === 'dimX'){
                    console.log("Width: " + canvas.getActiveObject().getWidth());

                    if (canvas.getActiveObject().getWidth() < 120){
                        optFontSize = 15;
                    }
                    else{
                        if (o.fontSize == 15){
                            optFontSize = 29;
                        }
                        else if (o.fontSize != 15 || o.fontSize != 29){
                            optFontSize = o.fontSize;
                        }
                    }

                    o.set({ fontSize: optFontSize });

                    if (o.arrow === 'left'){
                        o.set({ left: canvas.getActiveObject().left});
                        xArrowWidth = o.getWidth();
                        arrowHeight = o.getHeight();
                    }

                    if (canvas.getActiveObject().getWidth() < 50 && o.arrow === 'left' | o.arrow === 'right'){
                        o.set({ opacity: 0 });
                    }
                    else if (canvas.getActiveObject().getWidth() > 50 && !o.hidden){
                        o.set({ opacity: 100 });
                    }

                    if (o.isType('textbox')) {

                        if (canvas.getActiveObject().getWidth() < 50){
                            o.set({ width: Math.round(canvas.getActiveObject().getWidth())});
                            o.set({ left: canvas.getActiveObject().left});
                        }
                        else{
                            o.set({ width: Math.round(canvas.getActiveObject().getWidth()) - xArrowWidth * 2});
                            o.set({ left: canvas.getActiveObject().left + xArrowWidth});
                        }
                        o.set({ text: ' ' + Math.round(canvas.getActiveObject().getWidth() * scale)  + ' '});
                        valWidth = o.getWidth();
                        textboxHeight = o.getHeight();
                    }
                    if (o.arrow === 'right'){
                        o.set({ left: canvas.getActiveObject().left + valWidth + xArrowWidth});
                    }



                    // anchor the dimension label keeping it from getting lost when the shape is scaled certain ways
                    /*if (o.getTop() < canvas.getActiveObject().getTop() - 55){
                        o.set({ top: canvas.getActiveObject().getTop() - 50 });
                    }
                    else if (o.getTop() > canvas.getActiveObject().getTop() + canvas.getActiveObject().getHeight()){
                        o.set({ top: canvas.getActiveObject().getTop() + canvas.getActiveObject().getHeight() });
                    }*/
                }
                if (o.category === 'dimY'){
                    if (canvas.getActiveObject().getHeight() < 120){
                        optFontSize = 15;
                    }
                    else{
                        if (o.fontSize == 15){
                            optFontSize = 29;
                        }
                        else if (o.fontSize != 15 || o.fontSize == 29){
                            optFontSize = o.fontSize;
                        }
                    }
                    o.set({ fontSize: optFontSize });

                    if (o.arrow === 'left'){
                        yArrowWidth = o.getWidth();
                        o.set({ top: canvas.getActiveObject().top + yArrowWidth});
                    }

                    if (canvas.getActiveObject().getHeight() < 50 && o.arrow === 'left' | o.arrow === 'right'){
                        o.set({ opacity: 0 });
                    }
                    else if (canvas.getActiveObject().getHeight() > 50 && !o.hidden){
                        o.set({ opacity: 100 });
                    }

                    if (o.isType('textbox')){
                        if (canvas.getActiveObject().getHeight() < 50){
                            o.set({ width: Math.round(canvas.getActiveObject().getHeight())});
                            valHeight = o.getWidth();
                            o.set({ top: canvas.getActiveObject().top + valHeight});
                        }
                        else{
                            o.set({ width: Math.round(canvas.getActiveObject().getHeight()) - yArrowWidth*2});
                            valHeight = o.getWidth();
                            o.set({ top: canvas.getActiveObject().top + valHeight + yArrowWidth});
                        }
                        o.set({ text: ' ' + Math.round(canvas.getActiveObject().getHeight()*scale) + ' '})
                    }
                    if (o.arrow === 'left'){
                        o.set({ top: canvas.getActiveObject().top + yArrowWidth});
                    }
                    if (o.arrow === 'right'){
                        o.set({ top: canvas.getActiveObject().top + valHeight + yArrowWidth*2 - 2});
                    }

                    // anchor
                    /*if (o.getLeft() < canvas.getActiveObject().getLeft() - 55){
                        o.set({ left: canvas.getActiveObject().getLeft() - 50 });
                    }
                    else if (o.getLeft() > canvas.getActiveObject().getLeft() + canvas.getActiveObject().getWidth() + 20 ){
                        o.set({ left: canvas.getActiveObject().getLeft() + canvas.getActiveObject().getWidth() + 20 });
                    }*/

                }
                if (o.category === 'dimCirc'){
                    if (canvas.getActiveObject().getRadiusX()*2 < 120){
                        optFontSize = 15;
                    }
                    else{
                        if (o.fontSize == 15){
                            optFontSize = 29;
                        }
                        else if (o.fontSize != 15 || o.fontSize != 29){
                            optFontSize = o.fontSize;
                        }
                    }


                    o.set({ fontSize: optFontSize });

                    if (o.arrow === 'left'){
                        o.set({ left: canvas.getActiveObject().left });
                        xArrowWidth = o.getWidth();
                    }

                    if (canvas.getActiveObject().getRadiusX()*2 < 50 && o.arrow === 'left' | o.arrow === 'right'){
                        o.set({ opacity: 0 });
                    }
                    else if (canvas.getActiveObject().getRadiusX()*2 > 50 && !o.hidden){
                        o.set({ opacity: 100 });
                    }

                    if (o.isType('textbox')){
                        o.set({ width: Math.round(canvas.getActiveObject().getRadiusX()*2) - xArrowWidth*2 });

                        valCirc = o.getWidth();
                        o.set({ left: canvas.getActiveObject().left + xArrowWidth });
                        o.set({ text: ' ' + Math.round((canvas.getActiveObject().getRadiusX()*2)*scale) + ' '});
                    }
                    if (o.arrow === 'left'){
                        o.set({ left: canvas.getActiveObject().left });
                    }
                    if (o.arrow === 'right'){
                        o.set({ left: canvas.getActiveObject().left + valCirc + xArrowWidth });
                    }

                    /*if (o.getTop() < canvas.getActiveObject().getTop() - 55){
                        o.set({ top: canvas.getActiveObject().getTop() - 50 });
                    }
                    else if (o.getTop() > canvas.getActiveObject().getTop() + canvas.getActiveObject().getHeight()){
                        o.set({ top: canvas.getActiveObject().getTop() + canvas.getActiveObject().getHeight() });
                    }*/
                }
                if (o.category === 'dimLine'){
                    if (canvas.getActiveObject().lineLen < 120){
                        optFontSize = 15;
                    }
                    else{
                        optFontSize = 29;
                    }
                    xArrowWidth = xArrowWidth = 34.2;


                    /*o.forEachObject(function (object){
                        if (object.isType('textbox')){
                            var newLen = Math.sqrt(Math.pow(canvas.getActiveObject().getHeight(), 2) + Math.pow(canvas.getActiveObject().getWidth(), 2))
                            canvas.getActiveObject().set({ lineLen: newLen });
                            console.log("Line length: " + newLen*scale);


                            object.set({ fontSize: optFontSize });
                            object.set({ text: ' ' + Math.round(canvas.getActiveObject().lineLen*scale) + ' '});
                            //object.set({ width: canvas.getActiveObject().lineLen - arrowWidth*2 });
                            //object.set({ left: 0 });
                            //object.set({ top: canvas.getActiveObject().top + canvas.getActiveObject().getHeight()/2 });
                        }
                        if (object.arrow === 'left'){
                            object.set({ left: -canvas.getActiveObject().lineLen/2 });
                        }
                    })*/

                    if (o.isType('textbox')){
                        var newLen = Math.sqrt(Math.pow(canvas.getActiveObject().getHeight(), 2) + Math.pow(canvas.getActiveObject().getWidth(), 2))
                        canvas.getActiveObject().set({ lineLen: newLen });
                        console.log("Line length: " + newLen*scale);


                        o.set({ fontSize: optFontSize });
                        o.set({ text: ' ' + Math.round(canvas.getActiveObject().lineLen*scale) + ' '});
                        //object.set({ width: canvas.getActiveObject().lineLen - arrowWidth*2 });
                        o.set({ left: canvas.getActiveObject().left });
                        o.set({ top: canvas.getActiveObject().top });
                    }


                    //dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: line.id, category: 'dimLine', hidden: false, top: 10, width: line.lineLen - arrowWidth*2, left: arrowWidth*1.3 });
                    //dimXRight = new fabric.Text('⟶', { id: line.id, category: 'dimLine', arrow: 'right', hidden: false, left: lineLen - arrowWidth*1.3 });

                    //o.set({ width: canvas.getActiveObject().lineLen });

                }
            });
            canvas.getActiveObject().setCoords();
            canvas.renderAll();
        }

        function bindDimensions() {
            var dims = canvas.getObjects().filter(o => o.id == canvas.getActiveObject().id);
            var shapeTransform = canvas.getActiveObject().calcTransformMatrix();
            var invertedshapeTransform = invert(shapeTransform);
            dims.forEach(o => {
                var desiredTransform = multiply(
                invertedshapeTransform,
                o.calcTransformMatrix()
                );
                // save the desired relation here.
                o.relationship = desiredTransform;
            });
        }

        //  what to do when text (namely measurement values) are altered
        canvas.on('text:editing:exited', function(o){
            //get the edited measurement's associated shape
            var assocShape = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'shape');
            var shapes = canvas.getObjects().filter(o => o.category === 'shape');

            if(scalingMode){
                if(canvas.getActiveObject().category === 'dimX'){
                    scale = canvas.getActiveObject().text/assocShape[0].getWidth();
                }
                else if(canvas.getActiveObject().category === 'dimY'){
                    scale = canvas.getActiveObject().text/assocShape[0].getHeight();
                }
                else if(canvas.getActiveObject().category === 'dimCirc'){
                    scale = (canvas.getActiveObject().text/2)/assocShape[0].getRadiusX();
                }
                else if(canvas.getActiveObject().category === 'dimLine'){
                    scale = canvas.getActiveObject().text/assocShape[0].lineLen;
                }
                document.getElementById("scaleInput").value = scale*20;
                shapes.forEach( o => {
                    canvas.setActiveObject(o);
                    scaleDimensions();
                });
            }
            else{
                transformDrawing(assocShape, 0);
                scaleDimensions();
            }
        });

        //  what to do when mouse button is down
        canvas.on('mouse:down', function(o){
            isDown = true;
            var pointer = canvas.getPointer(o.e);
            origX = pointer.x;
            origY = pointer.y;

            if (drawingRect){
                rect = new fabric.Rect({
                    left: origX,
                    top: origY,
                    originX: 'left',
                    originY: 'top',
                    width: pointer.x-origX,
                    height: pointer.y-origY,
                    angle: 0,
                    fill: 'rgba(0,0,0,0)',
                    stroke: 'black',
                    strokeWidth: 2,
                    category: 'shape',
                    id: '1'
                });
                canvas.add(rect);
            }
            if (drawingCircle){
                circ = new fabric.Circle({
                    left: origX,
                    top: origY,
                    originX: 'left',
                    originY: 'top',
                    radius: (pointer.x-origX)/2,
                    fill: 'rgba(0,0,0,0)',
                    stroke: 'black',
                    strokeWidth: 2,
                    category: 'shape',
                    id: '2'
                });
                //prevent circle from being scaled on its x/y axis, ensuring it stays a circle
                circ.lockUniScaling = true;
                canvas.add(circ);
            }
            if (drawingLine){
                var points = [pointer.x, pointer.y, pointer.x, pointer.y];
                startx[temp] = pointer.x;
                starty[temp] = pointer.y;
                line = new fabric.Line(points, {
                    originX: 'center',
                    originY: 'center',
                    stroke: 'black',
                    strokeWidth: 2,
                    category: 'shape',
                    //hasControls: false
                });
                canvas.add(line);
            }
            if (canvasInteractive){
                if (canvas.getActiveObject()){

                    canvas.getActiveObject().on('moving', updateDimensions);
                    //canvas.getActiveObject().on('rotating', updateDimensions);

                    canvas.getActiveObject().on('scaling', scaleDimensions);
                    bindDimensions();
                }
            }
        });

        //  what to do when the mouse moves
        canvas.on('mouse:move', function(o){

            // do not do anything if mouse is not down
            if (!isDown) return;
            var pointer = canvas.getPointer(o.e);
            if (drawingRect){
                if(origX>pointer.x){
                rect.set({ left: Math.abs(pointer.x) });
                }
                if(origY>pointer.y){
                    rect.set({ top: Math.abs(pointer.y) });
                }

                rect.set({ width: Math.abs(origX - pointer.x) });
                rect.set({ height: Math.abs(origY - pointer.y) });

                endx[temp] = pointer.x;
                endy[temp] = pointer.y;

                //text = new fabric.Text('Width: ' + Math.round(rect.getWidth()*scale) + '\nHeight: ' + Math.round(rect.getHeight()*scale), { left: endx[temp], top: endy[temp], fontSize: 25 });

                //canvas.add(text);

                //canvas.renderAll();
            }
            if (drawingCircle){
                if(origX>pointer.x){
                circ.set({ left: Math.abs(pointer.x) });
                }
                if(origY>pointer.y){
                    circ.set({ top: Math.abs(pointer.y) });
                }

                circ.set({ radius: Math.abs((origX - pointer.x)/2) });
            }
            if (drawingLine){
                line.set({ x2: pointer.x, y2: pointer.y });

                endx[temp] = pointer.x;
                endy[temp] = pointer.y;

                //  TODO: Decide on whether or not to keep this.
                var dist = Calculate.lineLength(startx[temp], starty[temp], endx[temp], endy[temp]).toFixed(2);
                line.set({ lineLen: dist });
                text = new fabric.Text('Length: ' + dist*scale, { left: endx[temp], top: endy[temp], fontSize: 25 });

                //canvas.add(text);
            }
        });

        //  what do when mouse button is lifted
        canvas.on('mouse:up', function(o){
            //canvas.remove(text);
            isDown = false;
            var hopefullyUniqueId = Math.random().toString(16).slice(2);
            var currentShape;
            if(drawingRect){
                currentShape = rect;
                rect.set({ id: hopefullyUniqueId });
                rect.setControlsVisibility({ mtr: false });

                if (rect.width != 0 && rect.height != 0){

                    dimXLeft = new fabric.Text('⟵', { arrow: 'left', id: rect.id, category: 'dimX', top: rect.top - 50 });
                    dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: rect.id, category: 'dimX', top: rect.top - 50 });
                    dimXRight = new fabric.Text('⟶', { id: rect.id, arrow: 'right', category: 'dimX', left: rect.left+100, top: rect.top - 50});

                    dimYTop = new fabric.Text('⟶', { angle: 270, id: rect.id, arrow: 'left', category: 'dimY', left: rect.left - 50 });
                    dimY = new fabric.Textbox(' ' + Math.round(rect.getHeight()*scale) + ' ', { angle: 270, textAlign: 'center', id: rect.id, category: 'dimY', left: rect.left - 50 });
                    dimYBottom = new fabric.Text('⟵', { angle: 270, id: rect.id, arrow: 'right', category: 'dimY', left: rect.left - 50 });

                    rect.setCoords();
                    canvas.add(dimXLeft, dimX, dimXRight, dimYTop, dimY, dimYBottom);

                }
            }
            else if (drawingCircle){
                currentShape = circ;
                circ.set({ id: hopefullyUniqueId });
                circ.setControlsVisibility({ mtr: false });
                if (circ.radius != 0){
                    dimXLeft = new fabric.Text('⟵', { id: circ.id, arrow: 'left', category: 'dimCirc', arrow: 'left', hidden: false, top: circ.top - 50 });
                    dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: circ.id, category: 'dimCirc', hidden: false, top: circ.top - 50  });
                    dimXRight = new fabric.Text('⟶', { id: circ.id, category: 'dimCirc', arrow: 'right', hidden: false, top: circ.top - 50  });

                    circ.setCoords();
                    canvas.add(dimXLeft, dimX, dimXRight);
                }
            }
            else if(drawingLine){
                currentShape = line;
                line.set({ id: hopefullyUniqueId });

                var lineAngle = Math.atan2(endy[temp] - starty[temp], endx[temp] - startx[temp]);
                lineAngle *= 180 / Math.PI;
                line.set({ lineAng: lineAngle });

                var lineLen = Math.sqrt(Math.pow(line.getHeight(), 2) + Math.pow(line.getWidth(), 2));
                line.set({ lineLen: lineLen });

                /*
                Best option here will be to just put the below dimensions into a group,
                The group can then be called upon to trigger necessary events.
                 */



                /*dimXLeft = new fabric.Text('⟵', { id: line.id, arrow: 'left', category: 'dimLine', arrow: 'left', hidden: false });
                dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: line.id, category: 'dimLine', hidden: false, top: 10, width: line.lineLen - arrowWidth*2, left: arrowWidth*1.3 });
                dimXRight = new fabric.Text('⟶', { id: line.id, category: 'dimLine', arrow: 'right', hidden: false, left: lineLen - arrowWidth*1.3 });



                var dimLine = new fabric.Group([dimXLeft, dimX, dimXRight], { left: line.left, top: line.top + 30, angle: line.lineAng, originX: 'center', id: line.id, category: 'dimLine', height: 10 });
                console.log("Line angle: " + line.lineAng);


                if (line.lineAng > 90 || line.lineAng < -90){

                    dimX.toggle('flipX');
                    dimX.toggle('flipY')
                    console.log("Flipped " + dimX.getFlipX());
                }*/

                dimX = new fabric.Textbox(' ' + 100 + ' ', { textAlign: 'center', id: line.id, category: 'dimLine', hidden: false });
                canvas.add(dimX);
            }

            //  Apply common properties to dimension objects
            if (drawingRect  || drawingCircle || drawingLine){
                var dims = [dimXLeft, dimX, dimXRight, dimYTop, dimY, dimYBottom];
                if (!drawingRect){
                    dims = [dimXLeft, dimX, dimXRight]
                }
                if (drawingLine){
                    dims = [dimX];
                }
                dims.forEach(function (dimObject) {
                    //  Set common properties
                    dimObject.set({ fontSize: 29, hidden: false, positionOffset: 0, hasControls: false });
                });

                canvas.setActiveObject(currentShape);
                scaleDimensions();
                scaleDimensions();

                setInteractMode();
                //tempSave();
            }

            //  if user (single) clicked on a textbox, enter editing mode and highlight all contents.
            if (canvas.getActiveObject() && canvas.getActiveObject().isType('textbox') ){
                canvas.getActiveObject().enterEditing();
                canvas.getActiveObject().selectAll();
            }

            if (canvas.getActiveObject() && canvas.getActiveObject().isType('text')){
                //  Code for setting dim position offset here.
                var assocShape = canvas.getObjects().filter(o => o.id === canvas.getActiveObject().id && o.category === 'shape');

                canvas.setActiveObject(assocShape[0]);
                scaleDimensions();
                scaleDimensions();
            }
            document.getElementById('posVal').value = canvas.getObjects().indexOf(canvas.getActiveObject());
            setInteractive();
            setInteractive();

        });

        //  http://jsfiddle.net/ydtt94zm/2/
        var Calculate={
			lineLength:function(x1, y1, x2,y2){
				return Math.sqrt(Math.pow(x2*1-x1*1, 2)+Math.pow(y2*1-y1*1, 2));
			}
		}


    </script>
{% endblock %}