{% extends 'draw/base.html' %}
{% block title %}{% if drawing %}{{ drawing }}{% else %}New Drawing{% endif %}{% endblock %}
{% block drawing_link %}
    {% if drawing %}
        <!--suppress ALL -->
        <li class="nav-item active"><a class="nav-link" href="{% url 'draw:drawing_detail' 1 drawing.id  %}"><i class="fas fa-image"></i>&nbsp; {{ drawing }}</a></li>
    {% endif %}
{% endblock %}
{% block new_drawing_active %}
    {% if not drawing %}
    active
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
{% endblock %}

{% block detail_panel %}
    {% if not drawing %}<h3 style="text-align: center">New Drawing</h3>{% endif %}
    <form action="" method="post" enctype="multipart/form-data" style="padding: 10px">
    {% csrf_token %}
        <div class="form-row">
            <div class="col-auto">
                {{ form.title }}
            </div>
            <div class="col-auto">
                {{ form.project }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="col">
                {{ form.description }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="col-auto">
                <label for="">{{ form.is_pinned.label_tag }}</label>
            </div>
            <div class="col-auto">
                {{ form.is_pinned }}
            </div>
        </div><br>
        <div class="form-row">
            {{ form.json_string }}
        </div><br>
        <div class="form-row">
            {{ form.scale }}
        </div><br>
        <div class="form-row">
            <button type="button" class="btn btn-primary" onclick="saveJSON()" href="#">Save Drawing</button>&nbsp;
            <button type="button" class="btn btn-primary" onclick="loadJSON()" href="#">Load Drawing</button>&nbsp;
        </div><br>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if drawing %}
    <div class="col-auto">
    <form action="{% url 'draw:delete_drawing' drawing.project.id drawing.id 'delete' %}" method="post" class="form-group form-row">
        {% csrf_token %}
        <input type="hidden" name="drawing_id" value="{{ drawing.id }}">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
    </form>
    </div>
    {% endif %}
{% endblock %}

{% block list_panel %}
    <div class="row">
        <div class="col-4">
            <button id ="canvasInteract" type="button" class="btn btn-light" onclick="setInteractMode()" title="Move objects"><i class="fas fa-arrows-alt"></i></button>&nbsp;
            <button id ="duplicateObject" type="button" class="btn btn-light" onclick="duplicate()" title="Duplicate selected object"><i class="far fa-clone"></i></button>&nbsp;
            <button id="freeDraw" type="button" class="btn btn-light" role="button" aria-pressed="true" onclick="setDrawingMode()" title="Free Draw"><i class="fas fa-pencil-alt"></i></button>&nbsp;
            <button id="drawLine" type="button" class="btn btn-light" onclick="addLine()" title="Line"><strong>⟍</strong></button>&nbsp;
            <button id="drawMeasure" type="button" class="btn btn-light" onclick="addMeasure()" title="Line"><i class="fas fa-tape"></i></button>&nbsp;
            <button id="drawRect" type="button" class="btn btn-light" onclick="addRectangle()" title="Rectangle"><i class="far fa-square"></i></button>&nbsp;
            <button id ="drawCirc" type="button" class="btn btn-light" onclick="addCircle()" title="Circle" style="margin-top: 10px"><i class="far fa-circle"></i></button>&nbsp;
            <button id ="skewXMore" type="button" class="btn btn-light" onclick="skewXMore()" title="Skew Rectangle" style="margin-top: 10px">Skew <i class="fas fa-plus"></i></button>
            <button id ="skewXLess" type="button" class="btn btn-light" onclick="skewXLess()" title="Skew Rectangle" style="margin-top: 10px">Skew <i class="fas fa-minus"></i></button><br>
            <button id ="deleteSelected" type="button" class="btn btn-light" onclick="deleteSelected()" title="Erase selected object" style="margin-top: 10px"><i class="fas fa-eraser"></i></button>&nbsp;
            <button id ="clearCanvas" type="button" class="btn btn-danger" onclick="clearCanvas()" title="Clear canvas" style="margin-top: 10px"><i class="fas fa-trash-alt"></i></button>

        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Scale (grid unit size)</span>
                </div>
                <input id="scaleInput" type="text" class="form-control" onblur="updateScale()" placeholder="0.25" value="{% if drawing %}{{ drawing.scale }}{% else %}5{% endif %}">&nbsp;

            </div>
        <button id="setScaling" type="button" class="btn btn-dark" onclick="setScalingMode()">Manual Scale Adjust &nbsp;<i class="fas fa-i-cursor"></i></button>&nbsp;
        <button id ="zoomIn" type="button" class="btn btn-light" onclick="zoomIn()" title="Zoom in" style="margin-top: 10px; margin-bottom: 10px"><i class="fas fa-search-plus"></i></button>&nbsp;
        <button id ="zoomOut" type="button" class="btn btn-light" onclick="zoomOut()" title="Zoom out" style="margin-top: 10px; margin-bottom: 10px"><i class="fas fa-search-minus"></i></button>&nbsp;
        <button id ="fontIncreaseX" type="button" class="btn btn-light" onclick="fontIncreaseX()" title="Increase font size"><i class="fas fa-arrows-alt-h"></i> &nbsp;<i class="fas fa-plus"></i></button>&nbsp;
        <button id ="fontDecreaseX" type="button" class="btn btn-light" onclick="fontDecreaseX()" title="Decrease font size"><i class="fas fa-arrows-alt-h"></i> &nbsp;<i class="fas fa-minus"></i></button>&nbsp;
        <button id ="fontIncreaseY" type="button" class="btn btn-light" onclick="fontIncreaseY()" title="Decrease font size"><i class="fas fa-arrows-alt-v"></i> &nbsp;<i class="fas fa-plus"></i></button>&nbsp;
        <button id ="fontDecreaseY" type="button" class="btn btn-light" onclick="fontDecreaseY()" title="Decrease font size"><i class="fas fa-arrows-alt-v"></i> &nbsp;<i class="fas fa-minus"></i></button>&nbsp;
        </div>
        <div class="col-2">
            <button id ="hideDimX" type="button" class="btn btn-light" onclick="hideDimX()" title="Show or Hide selected shape's X dimension">Show/Hide <i class="fas fa-arrows-alt-h"></i></button>&nbsp;
            <button id ="hideDimY" type="button" class="btn btn-light" onclick="hideDimY()" title="Show or Hide selected shape's Y dimension" style="margin-top: 10px">Show/Hide <i class="fas fa-arrows-alt-v"></i></button>&nbsp;
            <button id ="restFont" type="button" class="btn btn-light" onclick="resetFont()" title="Rest font size" style="margin-top: 10px"> Font <i class="fas fa-undo"></i></i></button>&nbsp;
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Position</span>
                </div>
                <input id="posVal" type="text" class="form-control" placeholder="0" value="0">&nbsp;

            </div>
            <button id ="posUp" type="button" class="btn btn-light" onclick="posUp()" title="Raise selected object's position" style="margin-top: 10px"><i class="fas fa-arrow-up"></i></button>&nbsp;
            <button id ="posDown" type="button" class="btn btn-light" onclick="posDown()" title="Lower selected object's position" style="margin-top: 10px"><i class="fas fa-arrow-down"></i></button>&nbsp;
            <button id ="imageExport" type="button" class="btn btn-light" onclick="exportPNG()" title="Convert canvas to image" style="margin-top: 10px">Export as PNG</button>&nbsp;
            <button id ="imageImgur" type="button" class="btn btn-light" onclick="exportImgur()" title="Convert canvas to image and open in new tab" style="margin-top: 10px">Export via Imgur</button>&nbsp;

        </div>
    </div>
        <canvas id="c" width="800" height="700" style="border: 1px solid black; margin-top: 5px"></canvas>
        {% load staticfiles %}
        <script>
            //  initial values loaded via Django that are required
            {% if drawing %}
                var scale = {{ drawing.scale }} / 20;
                var loadString = {{ drawing.json_string | safe }}
            {% else %}
                var scale = 0.25;
                var loadString;
            {% endif %}

            var imported = document.createElement('script');
            imported.src = "{% static 'draw/js/canvas.js' %}";
            document.head.appendChild(imported);
        </script>
{% endblock %}