{% extends 'draw/base.html' %}
{% block title %}{{ project }}{% endblock %}
{% block project_active %}active{% endblock %}

{% block detail_panel %}
    <h2 style="text-align: center">{{ project }}</h2>
<!-- TODO: Add more info here, such as whether or not it's shared and with whom. -->
    <div class="col-auto">
    <form action="{% url 'draw:delete_project' 'delete_project' project.id  %}" method="post" class="form-group form-row">
        {% csrf_token %}
        <input type="hidden" name="project_id" value="{{ project.id }}">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
    </form>
    </div>
{% endblock %}

{% block list_panel %}
        {% if drawings %}
            <h2>Drawings</h2><br>
            <div class="d-flex flex-wrap align-content-start">
                {% for drawing in drawings %}
                    <div class="p-2" style="text-align: center; background: rgba(33,35,38,0.85); border-radius: 5px; margin-right: 15px; margin-bottom: 15px">
                        <a style="color: #c1c1c1" href="{% url 'draw:drawing_detail' project.id drawing.id %}">
                            <img src="https://static.umotive.com/img/product_image_thumbnail_placeholder.png" width="200" height="200" style="padding-bottom: 10px">
                            <br>
                            {{ drawing.title }}
                            {% if drawing.is_pinned %}
                                &nbsp;<i class="fas fa-thumbtack"></i>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4>This project has no drawings :(</h4>
        {% endif %}
{% endblock %}