<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home - Sketch-It-Yourself</title>
        <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins|Shadows+Into+Light" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <style>
            body{
                background: #f8f9fa;
            }
            h1{
                font-family: 'Shadows Into Light', cursive;
                font-size: 8em;

            }
            .container{
                margin-top: 10%;
                width: 100%;
                height: 50%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Sketch-It-Yourself</h1>
            <form action="/draw"><button type="submit" class="btn btn-outline-dark">Draw <i class="fas fa-pencil-alt"></i></button></form>
        </div>
    </body>
</html>