body{
    background: lightslategrey url("../images/background.jpg");
    font-family: 'Popins', sans-serif;
    padding-top: 74px;
}
a.website-logo{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}
.detail-panel{
    background-color: #c1c1c1;
    padding-top: 20px;
    border-right: 1px solid black;
    min-height: 85vh;
}
.list-panel{
    background-color: #c1c1c1;
    padding-top: 20px;
    min-height: 85vh;
}
.site-footer{
    background-color: #1b1e21;
    min-height: 7.5vh;
    text-align: center;
    padding-top: 15px;
}
span.sig{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    color: #c1c1c1;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}